form {
	margin: 10px;
	
}

p.formprompt {
	float: left;
	width: 45%;
	text-align: left;
}

p.formpromptleft{clear: left;}

p.carformprompt {
	font-size: 105%;
	float: left;
	width: 22%;
	text-align: left;
}

p#extrabuffer{
	margin-left: 50px;
}

p.carformpromptwide {
	font-size: 105%;
	float: left;
	width: 27%;
	text-align: left;
}

p.carformpromptxwide {
	font-size: 105%;
	float: left;
	width: 43%;
	text-align: left;
}


input {
	font-size: 110%;
	display: block;
	border-radius: 5px;
}

select {
	font-size: 110%;
	display: block;
	border-radius: 5px;
}

label {
	font-size: 70%;
	vertical-align: middle;
	float: left;
	margin: 2px;
}

div.formbackground{
	background-color: rgb(150, 150, 255);
	margin: 10px auto 10px auto;
	padding: 5px;
	color: rgb(30, 30, 140);
	max-width: 1100px;
	text-align: center;
	height:400px;
}


div.carformbackground{
	background-color: rgb(220, 150, 20);
	margin: 0px auto 0px auto;
	padding: 4px;
	color: rgb(30, 30, 140);
	max-width: 1100px;
	text-align: center;
	height:400px;
}

p.modal_text{
	font-size: 16px;
	color: rgb(40,40,240);
	margin: 10px;
}

span.modal_box_close{
	background-color: rgb(150, 150, 255);
	color: rgb(0,0,0);
	text-align: right;
	font-size: 24px;
	bottom: 4%;
	padding: 3px;
	position: absolute;
	border: 1px solid rgb(0,0,0);
	cursor: pointer;
}

span.modal_box_close_hi{
	
	background-color: rgb(255, 40, 40);
	color: rgb(0,0,0);
	text-align: right;
	font-size: 24px;
	bottom: 4%;
	padding: 3px;
	position: absolute;
	border: 3px solid rgb(0,0,0);
	cursor: pointer;
}


span.modal_header{
	background-color: rgb(90, 240, 100);
	font-size: 32px;
	color: rgb(0, 0	40);
	text-align: left;
	vertical-align: top;
	padding: 3px;
	border: 1px dashed;
	
}

div.modal_background{
	display: none;
	position: fixed;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0,.4);
}

div.modal_content{
	z-index: 51;
	margin: 7% 15% 7% 25%;
	min-width: 500px;
	width: 60%;
	height: 80%;
	background-color: rgb(180, 200, 220);
	border: 2px solid rgb(50,50,50);
	overflow: auto;
	opacity: .99;

}

input#carsubmit {
	font-size: 16px;
	padding: 2px;
	font-weight: bold;
	margin: auto;;
}

textarea {
	font-size: 100%;
	border-radius: 5px;
	overflow: auto;
	resize: none;
}